<% include ./partials/header %>

    <div class="container">
        <div class="section">
            <div class="row">

                <table class="striped bordered">
                    <thead>
                        <tr>
                            <th>
                                [HEADER]
                            </th>
                            <th>
                                [HEADER]
                            </th>
                            <th>
                                [HEADER]
                            </th>
                            <th>
                                [HEADER]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                [CONTENT]
                            </td>
                            <td>
                                [CONTENT]
                            </td>
                            <td>
                                [CONTENT]
                            </td>
                            <td>
                                [CONTENT]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <% include ./partials/footer %>
