</main>
<footer class="page-footer red darken-2">

    <div class="footer-copyright red darken-2">
      <div class="container">
        Desaign By Edim and Ridho
      </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>

</body>

</html>
